extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.home-slider
		.owl-carousel.owl-theme
			a.slider-link(href="#")
				.slider-img
					img(src="./img/home-slider1.png", alt="", srcset="")
			a.slider-link(href="#")
				.slider-img
					img(src="./img/home-slider1.png", alt="", srcset="")
			a.slider-link(href="#")
				.slider-img
					img(src="./img/home-slider1.png", alt="", srcset="")
	section.home-product
		.container
			.row
				.col-md.col-lg-8
					a.product-link(href="#")
						.product-img
							img.img-fluid(src="./img/home-banner1.png", alt="", srcset="")
				.col-md.col-lg-4
					a.product-link(href="#")
						.product-img
							img.img-fluid.img-fix(src="./img/home-product-1.png", alt="", srcset="")
							.product-content
								h6 Ice cream -mask brown
								p 300.000d
			.row
				.col-md.col-lg-4
					a.product-link(href="#")
						.product-img
							img.img-fluid.img-fix(src="./img/home-product-2.png", alt="", srcset="")
							.product-content
								h6 Ice cream -mask brown
								p 300.000d
				.col-md.col-lg-4
					a.product-link(href="#")
						.product-img
							img.img-fluid.img-fix(src="./img/home-product-3.png", alt="", srcset="")
							.product-content
								h6 Ice cream -mask brown
								p 300.000d
				.col-md.col-lg-4
					a.product-link(href="#")
						.product-img
							img.img-fluid.img-fix(src="./img/home-product-4.png", alt="", srcset="")
							.product-content
								h6 Ice cream -mask brown
								p 300.000d
	
				




