/////////////////////////////////
// Phần Slider
/////////////////////////////////
.home-slider
	// Phần Control
	.owl-dots
		margin-bottom: 0.5rem
///////////////////////////////
// phan product
///////////////////////////////
.home-product
	.product-link
		text-decoration: none
		color: $blacks
		.product-img
			width: 100%
			height: auto
			margin: auto
			text-align: center
			padding: 5px 5px
			position: relative
			.img-fix 
				margin-top: 5px
				width: 60%
				height: 60%
			.product-content
				padding-top: 10px
			+media-breakpoint-up(md)
				.img-fix
					width: 100%
					height: 100%
				.product-content
					font-size: 12px
					position: absolute
					top: 70%
					left: 50%
					transform: translateX(-50%)
					background-color: $whites
					padding: 5px 10px
					line-height: 1
					overflow: hidden
					max-height: 68px